// Colors
$black: #111;
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;
$gray-5: #eee;
$white: #fff;

$red: #ff4136;
$orange: #ff851b;
$yellow: #ffdc00;
$green: #2ecc40;
$blue: #0074d9;
$purple: #b10dc9;

$maroon: #85144b;
$lime: #01ff70;
$olive: #3d9970;
$teal: #39cccc;
$aqua: #7fdbff;
$navy: #001f3f;
$fuchsia: #f012be;
